<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h2>
            You have recieve a message from <%= "#{@name}, #{@email}." %>
        </h2>
        <p>
            <%= @body %>
        </p>
    </body>
</html>
